body {
    background: #f8f8f8;
    font-family: 'Roboto', sans-serif;
}
h2,
.h2 {
    font-size: 1.2rem !important;
    font-family: 'Roboto', sans-serif;
}

h3,
.h3 {
    color: #088776;
    font-size: 0.75rem !important;
    font-family: 'Roboto', sans-serif;
}

h5,
.h5 {
    color: #fff;
    font-size: 2rem !important;
    font-family: 'Roboto', sans-serif;
}

.greentxt {
    color: #088776;
}

.bold {
    font-weight: bold;
    font-size: 1.5rem;
    ;
}

.ligthWriting {
    font-weight: lighter;
    color: #000;
}

.greenButton {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 25px;
    background-color: #088776;
}

.whiteButton {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: transparent;
    text-shadow: 1px 1px 1px #000;
    border-radius: 25px;
    background-color: rgb(255, 255, 255);
}

.whiteButtonGreeen {
    border: 1px 1;
    border-color: #088776;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #088776;
    text-shadow: 1px 1px 1px #088776;
    border-radius: 25px;
    background-color: rgb(255, 255, 255);
}

#greenButtonBorderWhite {
    border-color: #fff;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 25px;
    background-color: #088776;
}

:root {
    --gutter: 20px;
}

.app>* {
    grid-column: 2 / -2;
}

.app>.full {
    grid-column: 1 / -1;
}

.hs {
    display: grid;
    grid-gap: calc(var(--gutter) / 2);
    grid-template-columns: 10px repeat(var(--total), calc(50% - var(--gutter) * 2)) 10px;
    grid-template-rows: minmax(150px, 1fr);

    overflow-x: scroll;
    scroll-snap-type: x proximity;
    padding-bottom: calc(.75 * var(--gutter));
    margin-bottom: calc(-.25 * var(--gutter));
}

.hs:before,
.hs:after {
    content: '';
}

.app {
    padding: var(--gutter) 0;
    display: grid;
    grid-gap: var(--gutter) 0;
    grid-template-columns: var(--gutter) 1fr var(--gutter);
    align-content: start;
    padding-top: 10%;
}

.entete {
    display: flex;
    justify-content: space-between;
}
.card-img {
    padding-top: 5%;
}

.TextImg {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -70%);
}

.makeUsSpecial {
    padding-bottom: 10%;
}

.moreInspiration {
    padding-top: 10%;
}

.GetListedToday {
    background-color: #f8f8f8;
}

.greenFooter {
    background-color: #088776;
}

ul {
    list-style: none;
}

.carousel-item img {
    object-fit: cover;
    min-height: 600px;
}
.carousel-inner {
    position: relative;
    text-align: center;
    color: white;
}
.carousel-caption {
    position: absolute;
  top: 50%;
  left: 50%;
}

@media screen and (min-width: 1200px) {
    .makeUsSpecial {
        display: flex;
        padding-top: 10%;
        padding-left: 10%;
        overflow: hidden;
    }

    .CozyPlaces {
        display: flex;
        padding: 10% 10% 10% 10%;
        justify-content: space-between;
        background-image: url(./images/image-cozyplaces.webp);
        background-size: 100%;
    }

    .getInspired {
        padding-top: 10%;
    }

    .app {
        padding-left: 10%;
    }

    .moreInspiration {
        padding-top: 5%;
    }

    .GetListedToday {
        margin-top: 10%;
        display: flex;
        overflow: hidden;
    }

    .glt {
        padding: 10% 10% 10% 10%;
    }

    .LatestArticles {
        margin-top: 10%;
    }

    .la {
        display: flex;
        justify-content: space-between;
    }

    .greenFooter {
        margin-top: 5%;
        padding-top: 5%;
        padding-bottom: 5%;
        padding-left: 10%;
        display: flex;
        justify-content: space-around;
    }

    .neverMiss {
        padding-right: 5%;
    }

    .form-inline {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-right: 10%;
    }

    .white {
        height: 3rem;
    }

    .green {
        background-color: #088776;
        height: 2rem;
    }

    .endLists {
        display: flex;
        justify-content: space-between;
        padding-left: 15%;
    }

    .endLogo img {
        width: 70%;
        padding-bottom: 10%;
    }

    .end {
        display: flex;
        justify-content: space-around;
        padding: 5% 10% 10% 10%;
    }

    #imageLa {
        width: 32%;
    }
    
    #disapearLg {
        display: none;
    }
   

}


@media screen and (min-width: 768px) and (max-width: 1199px) {
    .app {
        padding-left: 2%;
    }

    .makeUsSpecial {
        padding-top: 10%;
        padding-left: 2%;
    }

    .CozyPlaces {
        padding-left: 2%;
        background-image: url(./images/image-cozyplaces.webp);
        background-size: 100%;
        padding-bottom: 15%;
        background-repeat: no-repeat;
        background-position: right bottom;
    }

    .getInspired {
        padding-top: 10%;
        padding-left: 2%;
    }

    #gi-image {
        height: 100%;
    }

    .bouton2 {
        padding-top: 5%;
        display: flex;
        justify-content: center;
    }

    .moreInspiration {
        padding-top: 10%;
        padding-left: 2%;
        padding-bottom: 10%
    }

    .table tr {
        display: block;
    }

    .table td {
        display: block;
    }


    .GetListedToday {
        padding: 10% 2% 10% 2%;
        text-align: center;
    }

    .LatestArticles {
        margin-top: 10%;
        padding-left: 2%;
        padding-bottom: 10%;
        ;
    }

    .la {
        display: flex;
        justify-content: space-between;
    }

    #imageLa {
        width: 48%;
    }

    .greenFooter {
        padding-top: 5%;
        padding-bottom: 5%;

    }

    .neverMiss {
        text-align: center;
        padding-bottom: 5%;
    }

    .form-inline {
        display: flex;
        justify-content: space-evenly;
        padding-left: 5%;
        padding-right: 5%;
    }

    .endLogo img {
        width: 30%;
        padding-bottom: 5%;
    }

    .endLogo {
        padding-bottom: 5%;
        padding-left: 2%;
    }

    .endLists {
        display: flex;
        justify-content: space-between;
        padding-right: 5%;
    }

    .contact {
        text-align: center;
        padding-bottom: 5%;
    }

    .reseau {
        padding: 2% 40% 5% 40%;
        display: flex;
        justify-content: space-evenly;
    }

    .reseau img {
        width: 7%;
    }

    #disapearMd {
        display: none;
    }
    #disapearOnlyMd {
        display: none;
    }
    #disapearMd {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    
    .app {
        padding-bottom: 20%;
    }
    .cp {
        padding-bottom: 10%;
    }
    .CozyPlaces {
        background-image: url(./images/image-cozyplaces.webp);
        background-size: 100%;
        padding-bottom: 25%;
        margin-bottom: 10%;
        background-repeat: no-repeat;
        background-position: right bottom;
    }
    .bouton2 {
        padding-top: 10%;
        text-align: center;
    }

    .moreInspiration {
        padding-top: 10%;
        padding-left: 2%;
        padding-bottom: 10%
    }

    .table tr {
        display: block;
    }

    .table td {
        display: block;
    }


    .GetListedToday{
        padding:10% 5% 10% 5%;
        text-align: center;
    }
    .greenButton {
        margin-right: 5%;
    }
    .greenFooter {
        padding:10% 5% 10% 5%;
        text-align: center;
    }
    .form-inline {
        padding-top: 5%;
    }
    .form-control {
        width: 100% !important;
    }
    .gbBouton{
        display: flex;
        justify-content: center;
    }
    #greenButtonBorderWhite {
        width: 30% !important;
    }




    .endLogo img {
        width:50%;
        padding-bottom: 5%;
    }

    .endLogo {
        padding-left: 5%;
    }

    .endLists {
        display: flex;
        flex-flow: row wrap;
        align-content: space-between;
        justify-content: space-between;
        padding-bottom: 5%;
        padding-top: 5%;
    }

    .list {
        width: 40%;
        padding-bottom: 5%;
    }

    .right::before,
    .right::after {
        content: '';
        width: 100%;
        order: 1;
    }

    .list:nth-child(n + 1) {
        order: 1;
    }

    .contact {
        text-align: center;
        padding-bottom: 5%;
    }

    .reseau {
        padding: 2% 35% 5% 35%;
        display: flex;
        justify-content: space-evenly;
    }

    .reseau img {
        width: 10%;
    }

    #disapearMd {
        display: none;
    }
    
}